/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Nunito Sans', sans-serif !important;
}

.mat-sort-header-container {
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
